@page "/{FlowId:long?}"
@inject IJSRuntime JS

<h1>Flow editor</h1>

<button @onclick="Save">Save</button>

<div id="editor" @ref="EditorReference"></div>


@code {
    [Parameter]
    public long? FlowId { get; set; }

    ElementReference EditorReference;

    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            await JS.InvokeVoidAsync("setupEditor", "#editor");
        }
    }

    private async Task Save()
    {
        // await JS.InvokeVoidAsync("alert", EditorReference);
        // await JS.InvokeVoidAsync("alert", EditorReference.Context);

        //var data = await JS.InvokeAsync<string>("getEditor");
        var data = await JS.InvokeAsync<object>("getEditorContent");
        await JS.InvokeVoidAsync("alert", data);
    }
}
