@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap");
/*TODO:
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@100;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;900&display=swap");
*/

body {
    font-family: Inter, Arial, sans-serif;
    font-size: 1rem;
    padding: 20px 20px 60px;
    max-width: 980px;
    margin: 0 auto;
    line-height: 1.5;
    color: #333;
}

h1,
h2,
h3 {
    font-feature-settings: "kern";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000;
}

h1 {
    font-size: 3.6rem;
}

p a,
blockquote a {
    background-color: #eee;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    color: #000;
}

p a:hover,
blockquote a:hover {
    background-color: royalblue;
    color: #fff;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
}

section.code {
    background-color: #f4f4f4;
    padding: 0.5rem 2rem;
    overflow-x: auto;
}
