@page "/"

<PageTitle>XDE.Team</PageTitle>

<h1>XDE.Team</h1>

<ul>
    <li>
        Russian
        <ul>
            <li>
                <a href="/ru/labs">Лаборатории</a>
            </li>
        </ul>
    </li>
</ul>