@page "/ru/labs"

<h1>Лаборатории</h1>

<h2>Проекты</h2>
<ul>
    <li>
        XDE.Academy
    </li>
</ul>

<h2>Исследования</h2>
<ul>
    <li>
        Развертывание кластера Kubernetes используя WSL2 и Podman
    </li>
</ul>