@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap");

body {
	padding: 0;
	line-height: 1.62;
	font-family: Inter, Arial, sans-serif;
	font-size: 1rem;
	color: #333;
}

#gatsby-focus-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1,
h2,
h3 {
	font-feature-settings: "kern";
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: #000;
}

h2 {
	border-bottom: solid 1pt #999;
	text-align: right;
	padding-right: 0.5rem;
}

main {
	margin-right: 48px; /*TODO: aside width, calculation required*/

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-items: center;
}

/* TODO: In common layout is tricky. When horizontally stretched and width close to the max-width, there would be good to have a horizontal paddings especially on the sidebar side, but this won't work for full-size colored sections. May be make sidebar as a flex part as well */
main > section,
main > header {
	max-width: 980px;
	width: 100%;
}

main > header {
	padding-top: 6rem;
	padding-bottom: 0;
}

h1 {
	font-size: 3.6rem;
	padding: 0;
	margin: 0;

	/*TODO:Colorized headers (white on red/black/...).
	color: #fff;
	background-color: #c00;
	*/
}

code {
	font-family: Consolas, "Lucida Console", "DejaVu Sans Mono", "Courier New", Courier, monospace;
	background-color: #f4f4f4;
	padding: 0 2rem;
	white-space: pre;
	display: block;
}

section.code {
	background-color: #f4f4f4;
	padding: 0.5rem 2rem;
	overflow-x: auto;
}

a {
	color: #69c;
	text-decoration: none;
}

dt {
	font-weight: bold;
}

dd {
	margin-inline-start: 0;
}

dd + dt {
	margin-top: 1rem;
}

em {
	font-style: normal;
	color: #d00;
	font-weight: bold;
}
