main {
	flex: 1;
}

aside {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	width: 48px;
	background-color: #eee;
	height: 100vh;
	text-align: center;
}

footer {
	background: #222;
	color: #fff;
}
